body {
  min-width: 400px;
  background-color: #141414;
}

.netflix-logo {
  max-width: 120px;
}

.profile-img {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrollRow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scrollRow::-webkit-scrollbar {
  display: none;
}

.prevBtn,
.nextBtn {
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 4rem !important;
}
.font-footer {
  color: #909090;
}

.item {
  padding: 2px;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
}
.preview-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: transparent;
  padding: 4px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#searchInput {
  width: 0;
  opacity: 0;
  padding: 6px 10px;
  margin-right: 8px;
  background: #111;
  border: 1px solid #444;
  color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#searchInput.open {
  width: 180px;
  opacity: 1;
}

.dropdown-menu.bg-dark .dropdown-item:hover {
  background-color: transparent;
  color: #fff;
}

copyright {
  font-size: 10px;
}

.netflix-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.netflix-loader {
  width: 60px;
  height: 60px;
  border: 4px solid #e50914;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.section-title {
  color: white;
  margin-left: 0;
  padding-left: 0;
  font-weight: 600;
}
.border-svg {
  border: 1px solid #fff;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px 8px;
}

@media (min-width: 1200px) {
  .col-xl-8col {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
.drop-dawn {
  min-width: 120px;
  border-radius: 2px;
  border-color: #555;
  padding: 2px 7px;
  background-color: #000;
}
